<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 评论管理 -->
<mapper namespace="com.david.emdblog.dao.CommentDao">
	<resultMap type="Comment" id="CommentResult">
		<result property="id" column="id" />
		<result property="userIp" column="userIp" />
		<result property="content" column="content" />
		<result property="commentDate" column="commentDate" />
		<result property="state" column="state" />
		<!-- 评论对应的文章。 -->
		<association property="blog" column="blogId"
			select="com.david.emdblog.dao.BlogDao.findById"></association>
	</resultMap>

	<!--查询所有评论列表 -->
	<select id="list" parameterType="Map" resultMap="CommentResult">
		select * from t_comment
		<!-- 拼接条件 -->
		<where>
			<if test="blogId!=null and blogId!=''">
				and blogId=#{blogId}
			</if>
			<if test="state!=null and state!=''">
				and state=#{state}
			</if>
		</where>
		order by commentDate
		<if test="start!=null and size!=null ">
			limit #{start},#{size}
		</if>
	</select>
	<!-- 获取评论总数量 -->
	<select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_comment
		<where>
			<if test="state!=null and state!=''">
				and state=#{state}
			</if>
		</where>
	</select>
	<!-- 根据ID删除评论 -->
	<delete id="delete" parameterType="Integer">
		delete from t_comment where
		id=#{id}
	</delete>
	<!-- 更新评论信息 -->
	<delete id="update" parameterType="Comment">
		update t_comment 
		<set>
			<if test="state!=null and state!=''">
				state=#{state},
			</if>
		</set>
		where id=#{id}
	</delete>
	<!-- 添加评论 -->
	<insert id="add" parameterType="Comment" >
		insert into t_comment values(null,#{userIp},#{blog.id},#{content},now(),0)
	</insert>
</mapper>